dbpediattl/*
S_OP
OP_S
SO_P
P_SO
SP_O
O_SP
InstanceId
PredicateId
patty-dataset-freebase/*
CandidatePredicatePath/test.py
*.pyc
FileCandidatePredicatePath
CandidatePredicatePath/FilePredicatePath/*
SPO
RawDataToSQL/resSPO/*
test_dbpedia/*
CosSimilarity/FileRepSupSet
InvertedIndex/FileInvertedIndex.txt
QueryGraph/FileDependencyTree
QueryGraph/FileQuestion
Lib/FileTestSparql
SpeedUp/FilePredicatePath/*
SpeedUp/Wiki-Ins-Mini.txt
PathSupportSet/AssociateRes/*
PathSupportSet/PathRes/*
PattyFilteOut/wikipedia-instances-filt
PattyFilteOut/wikipedia-instances-filt100<<150
PattyFilteOut/wikipedia-instances-filt<5
patty-dataset/*
File*
