dbpediattl/*
S_OP
OP_S
SO_P
P_SO
SP_O
O_SP
InstanceId
PredicateId
patty-dataset-freebase/*
CandidatePredicatePath/test.py
*.pyc
FileCandidatePredicatePath
CandidatePredicatePath/FilePredicatePath/*
SPO
